# Ipython/Python stuff
__pycache__/
.ipynb_checkpoints/
*.pyc
rospy

# PyTorch checkpoints
*.pth.tar
*.pth

# Caffe models
*.caffemodel

# Image/video files
*.png
*.jpg
*.avi

# ROS stuff
*.bag
bin/
log/
data/
img/
*~
CATKIN_IGNORE
perceptual_pipeline/iai_kinect2/kinect2_bridge/data
*.pickle
*.zip
