[submodule "perceptual_pipeline/iai_kinect2"]
	path = perceptual_pipeline/iai_kinect2
	url = https://github.com/code-iai/iai_kinect2.git
[submodule "anchor_caffe/caffe"]
	path = anchor_caffe/caffe
	url = https://github.com/BVLC/caffe.git
[submodule "anchor_logic/dc_bridge"]
	path = anchor_logic/dc_bridge
	url = https://bitbucket.org/dtai_robotics/dc_bridge
