<launch>

  <!-- Laucnh Kinect2 bridge (with default parameters) -->
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">	
    <arg name="calib_path" value="$(find anchoring)/data/" />
  </include>	

  <!-- Run object recognition node -->
  <node name="object_segmentation_node" pkg="object_segmentation" type="object_segmentation" output="screen">
    <remap to="/kinect2/qhd/image_color_rect" from="/image"/>	
    <remap to="/kinect2/qhd/camera_info" from="/camera_info"/>
    <remap to="/kinect2/qhd/points" from="/cloud"/>
  </node>

</launch>