<launch>
  
  <!-- Laucnh Kinect2 bridge (with default parameters) -->
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">	
    <arg name="calib_path" value="$(find anchoring)/data/" />
    <arg name="publish_tf" value="true" />
  </include>	

  <!--  Static transform publisher --> 	  
  <node pkg="tf" type="static_transform_publisher" name="kinect_rotate_tf" args="0 0 0 -1.570796327 0 -1.570796327 kinect_rotate_link kinect2_link 10" />
  <node pkg="tf" type="static_transform_publisher" name="kinect_tilt_tf" args="0 0 0.08 0 0 0 kinect_tilt_link kinect_rotate_link 10" />
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_tf" args="0 0 0.5 0 0.4363 0 kinect_base_link kinect_tilt_link 10" />
  <node pkg="tf" type="static_transform_publisher" name="table_tf" args="1.2 0.36 0 3.1415 0 0 base_link kinect_base_link 10" />
  
  <!-- Object segmentation node -->
  <node name="segmentation_node" pkg="object_segmentation" type="object_segmentation" output="screen">
    <remap to="/kinect2/qhd/image_color_rect" from="/image"/>	
    <remap to="/kinect2/qhd/camera_info" from="/camera_info"/>
    <remap to="/kinect2/qhd/points" from="/cloud"/>
    <param name="compar_type" type="int" value="1" />	
  </node>

  <!-- Feature extraction node -->
  <node name="extraction_node" pkg="feature_extraction" type="extraction" output="screen" />


  <!-- Anchor Caffe node -->
  <node name="anchor_caffe_node" pkg="anchor_caffe" type="anchor_caffe" output="screen" />
  
  <!-- Anchoring framework -->  
  <node name="anchor_management_node" pkg="anchoring" type="anchoring"
        output="screen" />
   
  <!-- Display anchors   
  <node name="anchor_viewer_node" pkg="display" type="anchor_viewer"
        output="screen" />
   -->

</launch>