<launch>
  
  <!-- Anchoring framework -->  
  <node name="anchor_management_node" pkg="anchoring" type="anchoring"
        output="screen">
    <param name="db_name" type="string" value="anchortmpdb" />
  </node>
	
  <!-- Inference system --> 
  <node name="dc_inference_node" pkg="inference" type="dc_inference"
        output="screen" />

  <!-- Display anchors --> 
  <node name="anchor_viewer_node" pkg="display" type="anchor_viewer"
        output="screen" />
  
  <!-- Include the display interface (including the websocket bridge) --> 
  <include file="$(find display)/launch/web_interface.launch" />

</launch>