<launch>

  <!-- Global params -->
  <arg name="show_window" default="true"/>

  <!-- Anchoring framework -->
  <node name="anchor_management_node" pkg="anchoring" type="anchoring" output="screen">
    <!-- param name="db_name" type="string" value="anchortmpdb" / -->
    <param name="db_name" type="string" value="none" />
    <param name="display_window" type="bool" value="$(arg show_window)" />
  </node>

  <!-- Display anchors -->
  <node name="anchor_viewer_node" pkg="display" type="anchor_viewer" output="screen">
    <param name="max_particles" type="int" value="200" />
    <param name="display_mode" type="string" value="both" />
    <param name="display_window" type="bool" value="$(arg show_window)" />
  </node>

  <!-- Include the display interface (including the websocket bridge)
  <include file="$(find display)/launch/web_interface.launch" />
  -->

  <!-- Include the data collection reasoner -->
  <include file="$(find reasoning)/launch/occluded.launch" />

</launch>
