<launch>
  
  <!-- Anchoring framework -->  
  <node name="anchor_management_node" pkg="anchoring" type="anchoring"
        output="screen">
    <param name="db_name" type="string" value="anchortmpdb" />
  </node>

  <!-- Display anchors --> 
  <node name="anchor_viewer_node" pkg="display" type="anchor_viewer"
        output="screen">
    <param name="display_mode" type="string" value="anchoring" />
  </node>	
  
  <!-- Include the display interface (including the websocket bridge) --> 
  <include file="$(find display)/launch/web_interface.launch" />

</launch>