<launch>

  <!-- Object segmentation node (including the Kinect) -->
  <include file="$(find ar_transform)/launch/object_segmentation.launch" />

  <!-- Run object tracking node
  <node name="object_tracking_node" pkg="object_tracking" type="object_tracking" output="screen">
    <remap to="/kinect2/qhd/image_color_rect" from="/rgb_image"/>
    <remap to="/kinect2/qhd/image_depth_rect" from="/depth_image"/>
    <remap to="/kinect2/qhd/camera_info" from="/camera_info"/>
    <remap to="/kinect2/qhd/points" from="/cloud"/>
  </node>
  -->

  <!-- Feature extraction node -->
  <node name="extraction_node" pkg="feature_extraction" type="extraction" output="screen" />

  <!-- Anchor Caffe node -->
  <node name="anchor_caffe_node" pkg="anchor_caffe" type="anchor_caffe" output="screen" />

  <!-- Anchoring framework -->
  <node name="anchor_management_node" pkg="anchoring" type="anchoring" output="screen">
    <param name="db_name" type="string" value="anchortmpdb" />
  </node>

  <!-- Inference system
  <node name="dc_inference_node" pkg="inference" type="dc_inference"
        output="screen" />
	-->

  <!-- Display anchors -->
  <!--node name="anchor_viewer_node" pkg="display" type="anchor_viewer"
        output="screen" >
    <param name="max_particles" type="int" value="200" />
    <param name="display_mode" type="string" value="anchoring" />
  </node-->

  <!-- Include the display interface (including the websocket bridge) -->
  <!--include file="$(find display)/launch/web_interface.launch" /-->

</launch>
