<launch>

  <!-- Global params -->
  <arg name="show_window" default="true"/>


  <!-- DSN + RRN Object segmentation node (including the Kinect) -->
  <include file="$(find  dsn_rrn_segmentation )/launch/object_segmentation_tf_static.launch" />


  <!-- Feature extraction node -->
  <include file="$(find feature_extraction)/launch/feature_extraction.launch" />


  <!-- Object classification (ROS Caffe framework wrapper) node -->
  <node name="object_classification_node" pkg="object_classification" type="object_classification" output="screen" >
    <param name="top_predictions" type="int" value="3" />

    <!-- Used for displaying a result image view -->
    <param name="display_window" type="bool" value="$(arg show_window)" />
  </node>


  <!-- Anchoring framework -->  
  <node name="anchor_management_node" pkg="anchoring" type="anchoring"
        output="screen">
    <param name="db_name" type="string" value="anchortmpdb4" />
</node>


  <!-- Reasoning system -->
  <!-- include file="$(find reasoning)/launch/reasoning.launch" / -->


  <!-- Display anchors --> 
  <node name="anchor_viewer_node" pkg="display" type="anchor_viewer"
        output="screen" >
    <param name="max_particles" type="int" value="200" />
    <param name="display_mode" type="string" value="both" />
    <param name="display_window" type="bool" value="$(arg show_window)" />
  </node>
  

  <!-- Include the display interface (including the websocket bridge) 
  <include file="$(find display)/launch/web_interface.launch" />
  -->

</launch>
