<launch>

  <!-- Object segmentation node (including the Kinect) -->
  <include file="$(find object_segmentation)/launch/object_segmentation_tf_dynamic.launch" />

  <!-- Feature extraction node -->
  <node name="extraction_node" pkg="feature_extraction" type="extraction" output="screen" />

  <!-- Anchor Caffe node -->
  <node name="anchor_caffe_node" pkg="anchor_caffe" type="anchor_caffe" output="screen" >
    <param name="predictions" type="int" value="3" />

    <!-- Used for displaying a result image view -->
    <param name="display_window" type="bool" value="false" />
  </node>

  <!-- Anchoring framework -->
  <node name="anchor_management_node" pkg="anchoring" type="anchoring"
        output="screen">
    <param name="db_name" type="string" value="anchortmpdb" />
  </node>

  <!-- Reasoning system -->
  <!-- include file="$(find reasoning)/launch/reasoning.launch" / -->

  <!-- Display anchors -->
  <node name="anchor_viewer_node" pkg="display" type="anchor_viewer"
        output="screen" >
    <param name="max_particles" type="int" value="200" />
    <param name="display_mode" type="string" value="anchoring" />
  </node>

  <!-- Include the display interface (including the websocket bridge) -->
  <include file="$(find display)/launch/web_interface.launch" />

</launch>
